{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets" : {
                    "edge":17,
                    "firefox":60,
                    "chrome":67,
                    "safari":11.1
                },
                //根据代码逻辑中用到的es6+语法导入，不是全部导入
                "useBuiltIns":"usage",
                "corejs": 3
            }
        ],
        "@babel/preset-react"
    ],
    "plugins":["@babel/plugin-proposal-class-properties"]
}